/*********** GENERAL AND UTILITY ***********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    margin: 0;
    display: block;
    max-width: 100%;
}

h1{font-size: 3rem;
padding-top: 4rem;
padding-bottom: 2rem;}
h2{font-size: 2rem;}
h3{font-size: 1rem;}
p{font-size: 13px;
    font-weight: lighter;}
body{
    background-color: #222;
}

.colorPrimary{background-color: #b4d0e7;}
.colorSecondary{background-color: rgb(233, 233, 233);}

.boxed{width: 1010px;
margin: 0 auto;}

.negativeMar4Bot{margin-bottom: -4rem;}
.gap{gap: 1rem;}
.pad1{padding: 1em;}
.marginT2{margin-top: 2rem;}
.marginT3{margin-top: 3rem;}

.flex{display: flex;}
.row {display: flex;
    flex-wrap: wrap;}
.directionColumn{flex-direction: column;}
.justifySpaceBetween{justify-content: space-between;}
.justifyCenter{justify-content: center;}
.alignFlexStart{align-items: flex-start;}

.col65{width: 65%;}
.col70{width: 70%;}
.col35{width: 35%;}
.col30{width: 30%;}
.col{width: 100%;}

/************* HEADER **************/

nav {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.linkContainer>ul{
    display: flex;
    align-items: center;
    list-style: none;
}

.linkContainer a{
    text-decoration: none;

}

.jamboContainer i{
    font-size: 3rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

/***************** MAIN **************/

.jamboContainer{
    max-width: 1120px;
    margin: 0 auto;
}
/************ RADIO BUTTON OP *********/
.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #757575;
}

.containerCheck {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.containerCheck input:checked ~ .checkmark:after {
    display: block;
}

.containerCheck .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.containerCheck input:checked ~ .checkmark {
    background-color: #2196F3;
    border: none;
}

.containerCheck:hover input ~ .checkmark {
    background-color: #ccc;
}

.lineHeight2{line-height: 2rem;}

/**************** MAIN AGAIN ********/

.containerCheck{
    margin-right: 4em;
}

.padFix1{padding-top: calc(4rem + 3rem);}

.borderGrayTop{
    border: 1px solid #757575;
}
.borderGrayBody{
    border: 1px solid #757575;
    border-top: none;
}

.typeInfo{
    background-color: aquamarine;
    min-height: 650px;
}