/*********** GENERAL AND UTILITY ***********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
a, a:visited, a:hover, a:active { color:#5200ee; }
img{
    margin: 0;
    display: block;
    max-width: 100%;
}

h1{font-size: 4rem;
    font-weight: 900;
    padding-top: 4rem;
    padding-bottom: 2rem;}
h2{font-size: 2.5rem;}
h3{font-size: 1.25rem;}
p{font-size: 0.9rem;
    font-weight: 500;
    line-height: 1.2rem;}
body{
    background-color: #222;
}

.colorPrimary{background-color: #b4d0e7;}
.colorSecondary{background-color: rgb(233, 233, 233);}
.colorTerziary{background-color: black;}

.boxed{max-width: 1010px;
    margin: 0 auto;}

.negativeMar4Bot{margin-bottom: -4rem;}
.gap05{gap: 0.5rem;}
.gap{gap: 1rem;}
.gap3{gap: 3rem;}
.pad05{padding: 0.5rem;}
.pad1{padding: 1em;}
.pad2{padding: 2em;}
.paddingB5{padding-bottom: 5rem;}
.paddingT1{padding-top: 1rem;}
.paddingT2{padding-top: 2rem;}
.paddingT3{padding-top: 3rem;}
.paddingT5{padding-top: 5rem;}
.marginT1{margin-top: 1rem;}
.marginT2{margin-top: 2rem;}
.marginT3{margin-top: 3rem;}
.marginB3{margin-bottom: 3rem;}


.textAlignL{text-align: end;}

.flex{display: flex;}
.row {display: flex;
    flex-wrap: wrap;}
.directionColumn{flex-direction: column;}
.justifySpaceBetween{justify-content: space-between;}
.justifyCenter{justify-content: center;}
.alignFlexStart{align-items: flex-start;}
.alignCenter{align-items: center;}
.wide{justify-self: stretch;}

.col{width: 100%;}
.col70{width: 70%;}
.col65{width: 65%;}
.col60{width: 60%;}
.col50{width: 50%;}
.col40{width: 40%;}
.col35{width: 35%;}
.col30{width: 30%;}
.col20{width: 20%;}
.col14{width: 14%;}

.myButtonBlue {
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border:none;
	display:inline-block;
	cursor:pointer;
	color:#ffffff !important;
	padding: 0.5rem 1rem;
	text-decoration:none;
}
.myButtonBlue:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
.myButtonBlue:active {
	position:relative;
	top:1px;
}
/************* HEADER **************/

header {
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.linkContainer>ul{
    display: flex;
    align-items: center;
    list-style: none;
    width: 100%;
}

header .pad1 .linkContainer a{
    text-decoration: none;
    color: black;

}

header .pad1 .linkContainer .myButtonBlue a{
    color:white;
}

.logo{
    object-fit: contain;
}

/***************** MAIN **************/
.myButtonBlue a{
    color: white;
    text-decoration: none;
}

.jamboContainer i{
    font-size: 3rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

.jamboContainer{
    max-width: 1120px;
    margin: 0 auto;
}
/************ RADIO BUTTON OP *********/
.containerCheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
    border: 1px solid #757575;
}

.containerCheck {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.containerCheck input:checked ~ .checkmark:after {
    display: block;
}

.containerCheck .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.containerCheck input:checked ~ .checkmark {
    background-color: #2196F3;
    border: none;
}

.containerCheck:hover input ~ .checkmark {
    background-color: #ccc;
}

.lineHeight2{line-height: 2rem;}

/**************** MAIN AGAIN ********/
.grey{
    color: lightgray;
    font-weight: lighter;
}

.containerCheck{
    margin-right: 4em;
}

.padFix1{padding-top: calc(4rem + 3rem);}

.borderGrayTop{
    border: 1px solid #a0a0a0;
}
.borderGrayBody{
    border: 1px solid #a0a0a0;
    border-top: none;
}

.typeInfo{
    height: 100%;
    padding: 2rem 1rem;
}

.typeInfo ul{
    list-style-type: none;
}

.typeInfo .fa-check{
    color:#0688fa;
}

.colcalc1{width: calc(100%/3 - 2rem);}

.containerSquares{
    width: 100%;
}

.colCalcSquares{
    width: calc(100%/3);
    height: calc(100vw/3);
}

.squared{
    width: 50%;
    height: 50%;
    border: 1px solid red;
}

.midBanner{
    overflow-y: scroll;
}

.midBanner 

.highContent{min-height: calc(100vw/2);}

.FAQHidden{
    display: none;
}

.FAQ{transition: 1s;} /***NON WORKA***/

.FAQ>span>i{
    transform: rotate(180deg);
}
.FAQ:hover .FAQHidden{
    display: block;
}
.FAQ:hover .arrow{
    transform: rotate(360deg);
    color: rgb(112, 21, 21);
}

/***************** FOOTER *****************/

footer{
    color: white;
}

footer ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}

footer .boxed  .col20 a{
    text-decoration: none;
    color: white;
}